<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215320315148-oi827jcct269utpdf8l1tbi54rmalmlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215320315148-oi827jcct269utpdf8l1tbi54rmalmlc</string>
	<key>API_KEY</key>
	<string>AIzaSyCXZtT3m_d6YwwPVswia-n_UrRBGVnNZdU</string>
	<key>GCM_SENDER_ID</key>
	<string>215320315148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>whoknowsme-8e365</string>
	<key>STORAGE_BUCKET</key>
	<string>whoknowsme-8e365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215320315148:ios:e5ab6d2714611bca727529</string>
	<key>DATABASE_URL</key>
	<string>https://whoknowsme-8e365.firebaseio.com</string>
</dict>
</plist>